<template name="navbarTop">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {{#if currentUser}}
          <a class="navbar-brand" href="{{pathFor route='nearbyTrades'}}">mapify</a>
        {{else}}
          <a class="navbar-brand" href="{{pathFor route='home'}}">mapify</a>
        {{/if}}
      </div>
      <div class="navbar-collapse collapse" id="navbar">
        {{> navbarTopLeft}}
        {{> navbarTopRight}}
      </div>
    </div>
  </nav>
</template>

<template name="navbarTopLeft">
  <ul class="nav navbar-nav">
    {{#if currentUser}}
      <li><a href="{{pathFor route='locations'}}">Locations</a></li>
      <li><a href="{{pathFor route='inventory'}}">Inventory</a></li>
      <li><a href="{{pathFor route='wishlist'}}">Wishlist</a></li>
      <li><a href="{{pathFor route='trades'}}">My Trades</a></li>
    {{/if}}
    <li><a href="{{pathFor route='nearbyTrades'}}">Nearby Trades</a></li>
  </ul>
</template>

<template name="navbarTopRight">
  <ul class="nav navbar-nav navbar-right">
    <li>{{> atNavButton}}</li>
  </ul>
</template>
