<template name="navbarTop">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor route='home'}}">mapify</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        {{> navbarTopLeft}}
        {{> navbarTopRight}}
      </div>
    </div>
  </nav>
</template>

<template name="navbarTopLeft">
  <ul class="nav navbar-nav">
    <li><a href="{{pathFor route='locations'}}">Locations</a></li>
    <li><a href="{{pathFor route='inventory'}}">Inventory</a></li>
    <li><a href="{{pathFor route='trades'}}">Trades</a></li>
  </ul>
</template>

<template name="navbarTopRight">
  <ul class="nav navbar-nav navbar-right">
    <li>{{> atNavButton}}</li>
  </ul>
</template>
