<template name="wishlist">
  <div class="container">
    <div id="current-wishlist-list">
      <div class="panel panel-default">
        <div id="my-wishlist-header">
          <div id="my-wishlist-header-title" class="panel-heading"><strong>My Wishlist</strong></div>
          <div id="add-new-wishlist-modal-popup">
            <button type="button" id="show-add-wishlist-modal" class="btn btn-success">Add new wishlist</button>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>Game Title</th>
              <th>Description</th>
              <th>Platform</th>
              <th>Wrapped</th>
              <th>DLC</th>
            </tr>
          </thead>
          <tbody>
            {{#each wishlistGames}}
            <tr>
              <td style="max-width: 100px">
                {{title}}
              </td>
              <td style="max-width: 100px">
                {{description}}
              </td>
              <td>
                {{platform}}
              </td>
              <td>
                {{#if wrapped}}
                Yes
                {{else}}
                No
                {{/if}}
              </td>
              <td>
                {{#if dlc}}
                Yes
                {{else}}
                No
                {{/if}}
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

    {{#autoForm collection="Mpf.Collections.wishlist" id="insertWishlistForm" type="insert"}}
    <fieldset>
      <div class="form-top-bar">
        <div class="form-top-bar-title">
          Add to Wishlist
        </div>
        <div class="location-form-close-button">
          X
        </div>
      </div>
      <div id="add-wishlist-form-body">
        <div id="add-wishlist-title">
          {{> afQuickField name='title'}}
        </div>
        {{> afQuickField name='platform' options="allowed"}}
        {{> afQuickField name='wrapped'}}
        {{> afQuickField name='dlc'}}
        {{> afQuickField name='description' rows=6}}
      </div>
    </fieldset>
    <div id="add-wishlist-form-button">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
    {{/autoForm}}
  </div>
</template>
