<template name="home">
  <div class="jumbotron" id="jumbotron-id">
      <div class="container">
          <h1>mapify</h1>
          <p>search. trade. play.</p>
          <p><a class="btn btn-primary btn-lg" href="/search-trades" role="button">Search more</a></p>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-sm-6 col-md-4 homepage-images">
              <div class="thumbnail">
                  <img src="map.png" class="homepage-actual-images">
                  <div class="caption">
                      <h3>search</h3>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4 homepage-images">
              <div class="thumbnail">
                  <img src="trade1.jpg" alt="..." class="homepage-actual-images">
                  <div class="caption">
                      <h3>trade</h3>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-md-4 homepage-images">
              <div class="thumbnail">
                  <img src="playgame.jpg" alt="..." class="homepage-actual-images">
                  <div class="caption">
                      <h3>play</h3>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>
