.jumbotron-home {
  height: 400px;
  color: #fff;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("assassin.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.img-home-grid {
  height: 200px !important;
}
