<template name="locations">
  {{> googleMap name='locations' options=mapOptions}}
  <div class="location-form" id="addLocationForm">
    <div class="form-top-bar">
      <div class="form-top-bar-title">
        Add a location
      </div>
      <div class="location-form-close-button" id="addLocationFormTopBar-closeButton">
        X
      </div>
    </div>
    <div id="marker-location-details">
      <h2>Selected Address</h2>
      {{streetName}}
      <br>
      <br>
      <form class="add-location-submit">
        <div class="input-group" id="location-name-field">
          <input class="form-control" name="add-location" type="text" placeholder="Type a location name...">
          <div class="input-group-btn">
            <button class="btn btn-success" type="submit">Add Location</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="location-form" id="remove-location-form">
    <div class="form-top-bar">
      <div class="form-top-bar-title">
        Remove a location
      </div>
      <div class="location-form-close-button" id="remove-location-form-close-button">
        X
      </div>
      <h2>{{locationName}}</h2>
      <div>
        {{streetName}}
        <br>
        <br>
        <form class="remove-location-submit">
          <button class="btn btn-danger" type="submit">Remove Location</button>
        </form>
      </div>
    </div>
  </div>
</template>
