<template name="trades">
    <div class="container">
        <div id="current-inventory-list">
            <div class="panel panel-default">
                <div id="my-inventory-header">
                    <div id="my-inventory-header-title" class="panel-heading"><strong>My Offers</strong></div>
                    <div id="add-new-inventory-modal-popup">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Create a new trade
                        </button>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Game Titles Selling</th>
                        <th>Game Titles Request</th>
                        <th>Money Offering</th>
                        <th>Money Requesting</th>
                        <th>Active at</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each trades}}
                        <tr>
                            <td style="max-width: 100px">
                              {{haveIds}}
                            </td>
                            <td style="max-width: 100px">
                              {{wantIds}}
                            </td>
                            <td>
                              {{offer}}
                            </td>
                            <td>
                              {{want}}
                            </td>
                            <td>
                              {{activeAt}}
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create a new Trade</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div id="my-offer" class="col-centered trade-areas">
                                  {{#autoForm collection="Mpf.Collections.trades" id="insertTradeForm" type="insert"}}
                                      <fieldset>
                                          <legend>My Offers</legend>
                                          <!-- XXX Add inventory and wishlist games -->
                                          <!-- XXX Offer and want inputs allow decimals despite schemas -->
                                        {{> afQuickField name='offer'}}
                                          <div class="select-game-field">
                                              <label class="control-label">My Inventory</label><br>
                                            {{#each displayHaveIds}}
                                                <div class="panel panel-default chosen-games">
                                                    <div class="panel-body remove-padding-top">
                                                      {{title}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                              <select id="select-haveIds" class="custom-dropdown">
                                                {{#each inventoryGame}}
                                                    <option value={{_id}}>{{title}}</option>
                                                {{/each}}
                                              </select>
                                          </div>

                                          <div class="add-have-game-buttom">
                                              <button type="button" class="btn btn-primary">Add Game</button>
                                          </div>

                                          <div class="remove-have-game-buttom">
                                              <button type="button" class="btn btn-danger">Reset</button>
                                          </div>
                                          <br>
                                      </fieldset>
                                  {{/autoForm}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="col-centered trade-areas">
                                  {{#autoForm collection="Mpf.Collections.trades" id="insertTradeForm" type="insert"}}
                                      <fieldset>
                                          <legend>My Requests</legend>
                                        {{> afQuickField name='want'}}
                                          <div class="select-game-field">
                                              <label class="control-label">My Wishlist</label><br>
                                            {{#each displayWantIds}}
                                                <div class="panel panel-default chosen-games">
                                                    <div class="panel-body remove-padding-top">
                                                      {{title}}
                                                    </div>
                                                </div>
                                            {{/each}}
                                              <select id="select-wantIds" class="custom-dropdown">
                                                {{#each inventoryGame}}
                                                    <option value={{_id}}>{{title}}</option>
                                                {{/each}}
                                              </select>
                                          </div>
                                          <div class="add-want-game-buttom">
                                              <button type="button" class="btn btn-primary">Add Game</button>
                                          </div>

                                          <div class="remove-want-game-buttom">
                                              <button type="button" class="btn btn-danger">Reset</button>
                                          </div>
                                          <br>
                                      </fieldset>
                                  {{/autoForm}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="confirmation-box" class="trade-areas">
                                <div class="select-game-field">
                                    <label class="control-label">My Locations</label><br>
                                  {{#each displayLocations}}
                                      <div class="panel panel-default chosen-games">
                                          <div class="panel-body remove-padding-top">
                                            {{name}}
                                          </div>
                                      </div>
                                  {{/each}}
                                    <select id="select-location-name" class="custom-dropdown">
                                      {{#each myLocations}}
                                          <option value={{_id}}>{{name}}</option>
                                      {{/each}}
                                    </select>
                                </div>
                                <div class="add-location-buttom">
                                    <button type="button" class="btn btn-primary">Add Location</button>
                                </div>

                                <div class="remove-location-buttom">
                                    <button type="button" class="btn btn-danger">Reset</button>
                                </div>
                              {{#autoForm collection="Mpf.Collections.trades" id="insertTradeForm" type="insert"}}
                                {{> afQuickField name='description' rows=6}}
                                  <!--<button type="submit" class="btn btn-primary">Start Trade</button>-->
                              {{/autoForm}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="close-modal" class="btn btn-default" data-dismiss="modal">Close</button>
                        {{#autoForm collection="Mpf.Collections.trades" id="insertTradeForm" type="insert"}}
                          <button type="submit" class="btn btn-primary">Start Trade</button>
                        {{/autoForm}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>