<template name="trades">
  <div class="container">
    {{#each trades}}
    {{> trade}}
    <hr />
    {{/each}}
  </div>
</template>

<template name="trade">
  {{activeAt}}
  <div class="row">
    <!-- Offering -->
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Offering</h3>
        </div>
        {{#if haveIds}}
        <div class="table-responsive">
          <table class="sortable table table-bordered table-striped">
          <thead>
            <tr>
              <th>Title</th>
              <th>Platform</th>
              <th>Description</th>
              <th>Wrapped?</th>
              <th>Includes DLC?</th>
            </tr>
          </thead>
          <tbody>
            {{#each haveIds}}
            {{#with offeringGame this}}
            <tr>
              <td>{{title}}</td>
              <td>{{platform}}</td>
              <td>{{#if description}}{{description}}{{else}}none{{/if}}</td>
              <td>{{#if wrapped}}Yes{{else}}No{{/if}}</td>
              <td>{{#if dlc}}Yes{{else}}No{{/if}}</td>
            </tr>
            {{/with}}
            {{/each}}
          </tbody>
          </table>
        </div>
        {{else}}
        <div class="panel-body">
          <div class="alert alert-info">
            No games here!
          </div>
        </div>
        {{/if}}
        {{#if offer}}
        <div class="panel-footer">
          <div class="input-group">
            <span class="input-group-addon">Topup ${{offer}}</span>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
    <!-- Requesting -->
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Requesting</h3>
        </div>
        {{#if wantIds}}
        <div class="table-responsive">
          <table class="sortable table table-bordered table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Platform</th>
                <th>Description</th>
                <th>Wrapped?</th>
                <th>Includes DLC?</th>
              </tr>
            </thead>
            <tbody>
              {{#each wantIds}}
              {{#with requestingGame this}}
              <tr>
                <td>{{title}}</td>
                <td>{{platform}}</td>
                <td>{{#if description}}{{description}}{{else}}none{{/if}}</td>
                <td>{{#if wrapped}}Yes{{else}}No{{/if}}</td>
                <td>{{#if dlc}}Yes{{else}}No{{/if}}</td>
              </tr>
              {{/with}}
              {{/each}}
            </tbody>
          </table>
        </div>
        {{else}}
        <div class="panel-body">
          <div class="alert alert-info">
            No games here!
          </div>
        </div>
        {{/if}}
        {{#if want}}
        <div class="panel-footer">
          <div class="input-group">
            <span class="input-group-addon">Topup ${{want}}</span>
          </div>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
